.nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	padding-left: 5rem;
	padding-right: 5rem;

	&__links {
		a {
			color: #fff;
			font-size: $font-lg;
			font-weight: 400;
			transition: all 100ms ease-in-out;

			&:not(:last-child) {
				margin-right: 4rem;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	&__burger {
		> div {
			border: 1.5px solid #fff;
			width: 32px;
			background-color: #fff;
			transition: all 200ms ease-in-out;
			transform-origin: 2px 2px;

			&:not(:last-child) {
				margin-bottom: 7px;
			}
		}
		&.open {
			> div:first-child {
				transform: rotate(45deg);
			}
			> div:nth-child(2) {
				opacity: 0;
			}
			> div:last-child {
				transform: rotate(-45deg);
			}
		}
		&:hover {
			cursor: pointer;
		}
	}

	&__menu {
		position: fixed;
		min-width: calc(100% - 2rem);
		height: calc(100% - 5rem);
		left: 50%;
		transform: translateX(-50%) translateY(-55%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		background-color: transparent;
		backdrop-filter: blur(5px);
		padding: 1.625rem;
		border-radius: 3px;
		z-index: 100;

		a {
			display: block;
			width: 100%;
			margin: 1.5rem 0;
			color: #fff;
			font-size: $font-xl;
			text-align: center;
			border-radius: 3px;
			transition: all 200ms ease-in-out;

			&:hover,
			:active {
				font-size: 28px;
				text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
				background-color: lighten(#94a3cd88, $amount: 10%);
			}
		}
	}
}
